.radio__custom {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: text-top;
}

.radio__custom::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background: rgb(0, 68, 204);
    border-radius: 50%;
    position: absolute;
    left: 16%;
    top: 16%;
    transform: translate(-50%, -50%) scale(0);
    transition: all .2s ease;
}

.radio__real:checked + .radio__custom::before {
    transform: scale(1);
}

.radio__real {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.radio:not(:last-child) {
    margin-bottom: 10px;
}

.radio__label-white {
    color: #fff;
}

.radio__label-black {
    color: #444;
}
