.dropdown {
    width: 100%;
    user-select: none;
    position: relative;
}

.dropdown .dropdown-btn {
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.dropdown .dropdown-btn:hover {
    background-color: rgba(255, 255, 255, .8);
    transform: scale(1.1);
}

.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    color: #666;
    width: 95%;
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all .2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
    background-color: #f4f4f4;
}
