.person {
    display: flex;
    width: 100%;
}

.person__panel {
    position: sticky;
    top: 30px;
}

.person__panel-wrapper {
    margin-right: 100px;
}

.person__info {
    min-width: 600px;
    margin-right: 50px;
}

.person__title {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    margin-bottom: 50px;
}

.person__list,
.person-form,
.wrapper-contact__block-label {
    box-sizing: border-box;
}
