.header {
    margin-bottom: 50px;
}

.header__cab-block {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.header__view {
    margin: 0;
    padding: 0;
    margin-right: auto;
    font-size: 22px;
}

.header__cab {
    
}

.nav {
    display: flex;
    align-items: center;
    background: #cc2222;
    padding: 0 100px;
}

.nav__logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    z-index: 2;
}

.nav__logo {
    cursor: pointer;
    padding: 15px 0;
}

.nav__list {
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__elem {
    color: #fff;
}

.nav__elem:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}
