.itemCard {
    padding: 30px;
    transition: all .2s ease;
    -webkit-box-shadow: 2px 18px 39px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 18px 39px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 18px 39px 0px rgba(34, 60, 80, 0.2);
}
.itemCard:not(:last-child) {
    margin-bottom: 50px;
}
.itemCard:hover {
    transform: scale(1.05);
}

.itemCard__link {
    display: block;
    height: 100%;
    text-decoration: none;
    user-select: none;
}

.itemCard__info {
    margin-bottom: 20px;
    color: #222;
}

.itemCard__info-title {
    margin: 0;
    margin-bottom: 20px;
}

.itemCard__info-wage {
    margin-bottom: 20px;
    font-size: 22px;
}

.itemCard__info-description {
    font-size: 18px;
    line-height: 130%;
}

.itemCard__more {
    color: #222;
}
