.news-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.news-list__elem {
    position: relative;
    width: 33%;
    margin: 5px;
    padding: 20px 30px;
    background: red;
    height: 150px;
    cursor: pointer;
}

.news-list__photo {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
